@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?m24eva');
  src: url('../fonts/icomoon/icomoon.eot?m24eva#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?m24eva') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?m24eva') format('woff'),
    url('../fonts/icomoon/icomoon.svg?m24eva#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document:before {
  content: "\e900";
}

.icon-self-appraisal:before {
  content: "\e901";
}

.icon-house:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e904";
}

.icon-line-chart:before {
  content: "\e905";
}

.icon-menu:before {
  content: "\e906";
}

.icon-sticky-note:before {
  content: "\e907";
}

.icon-reportee-appraisal:before {
  content: "\e908";
}

.icon-appraisal-review:before {
  content: "\e909";
}

.icon-download:before {
  content: "\e90a";
}

.icon-arrow-down:before {
  content: "\e90b";
}

.icon-open-graph:before {
  content: "\e90c";
}

.icon-close:before {
  content: "\e90d";
}

.icon-dashboard:before {
  content: "\e90e";
}

.icon-information:before {
  content: "\e90f";
}